.feynman__link {
  text-decoration: none;
  position: absolute;
  line-height: 51px;
  color: #2f80ed;
  font-weight: 400;
  font-size: 36px;
  right: 48px;
  top: 50%;
}

.feynman__link:hover {
  transition: opacity 0.5s linear;
}
