.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
}

.khan__author {
  line-height: 42px;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-weight: 600;
  font-size: 60px;
  margin: 0;
}

.khan__quote {
  margin: 50px 0 36px 0;
  line-height: 34px;
  font-weight: 400;
  max-width: 790px;
  font-size: 24px;
}

.khan__quote-author {
  line-height: 1.15;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.khan__quote-author-subline {
  margin: 10px 0 68px 0;
  line-height: 1.15;
  font-weight: 400;
  font-size: 24px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  object-position: 0 0;
  margin-right: 48px;
  object-fit: cover;
  height: 620px;
  width: 608px;
}

.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-weight: 400;
  color: #2f80ed;
  font-size: 30px;
}

.khan__buy-link:hover {
  transition: opacity 0.5s linear;
}
